.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
  
  }
  
  .side {
    width: 45%;
    border: 1px solid grey;
    padding: 20px;
  
  }