<!-- <select   #selectField class="dropdown">
    <option [routerLink]="['/cv']" routerLinkActive="active" >cv </option>
    <option [routerLink]="['/carte-visite']" routerLinkActive="active" >Carte Visite</option>
    <option [routerLink]="['/mini-word']" routerLinkActive="active" >miniword</option>
    <option [routerLink]="['/first-component']" routerLinkActive="active" >Color</option>
    <option [routerLink]="['/authentification']"  routerLinkActive="active" >authentification</option>
</select>  -->
<select  (change)="changeRoute(selectField.value)" #selectField class="dropdown">
    <option value=""></option>
    <option value="cv" >cv </option>
    <option [value]="['/carte-visite']" >Carte Visite</option>
    <option [value]="['/mini-word']" >miniword</option>
    <option [value]="['/first-component']" >Color</option>
    <option [value]="['/authentification']" >authentification</option>
    <option [value]="['/addCv']" >add CV</option>
</select> 