.container {
  width: 80%;
  margin-left: 10%;
}

.ng-valid[required],
.ng-valid.required {
  border: 2px solid #42a948; /* green */
}

.form-control.ng-invalid.ng-touched {
  border: red 2px solid;
}

.form-group {
  margin-bottom: 1rem;
}

.container label {
  display: block;
  margin-bottom: 0.5rem;
}
.container input {
  border-radius: 5px;
  font-size: larger;
}

.errorMessage {
  color: red;
}
.submitButton {
  background-color: #42a948;
  border: none;
  width: 80px;
  padding: 3px;
  font-size: large;
  border-radius: 20px;

}
