<div class="container" appCvDetail>
  <div>
    <img
      src="/assets/images/{{ singleItem.path | defaultImage }}"
      alt=" "
      class="image"
    />
  </div>
  <div>{{ singleItem.name }} {{ singleItem.firstname }}</div>
  <div>
    {{ singleItem.age }}
  </div>
  <div>
    {{ singleItem.job }}
  </div>
  <div class="buttonsContainer">
    <div *ngIf="singleItem">
      <button (click)="embaucher()" class="embaucheButton">embaucher</button>
    </div>
    <div *ngIf="singleItem">
      <button (click)="navigateToCv(singleItem.id)" class="detailsButton">
        more details
      </button>
    </div>
  </div>
</div>
